.App-1 {
    text-align: left;
    background:linear-gradient(90deg,#0e2539,#7f4098);
  }
  .App-2 {
    text-align: left;
    background:linear-gradient(90deg,#5eb546,#fde146);
  }
  .App-3 {
    text-align: left;
    background:linear-gradient(90deg,#d47097,#76cdd9);
  }
  .App-4 {
    text-align: left;
    background:linear-gradient(90deg,#be1e2d,#ec7323);
  }
  .App {
    text-align: left;
    background:linear-gradient(90deg,#000000,#000000);
  }
  
.Content {
    width:"100px"; 
  
  }
.App-logo {
  width:"100px"; 

}

.blockclass {
  display: block;
}
form.contact-form{
  width: 100%;
}
input.blockclass{
  width: inherit;
  margin-top: 1%
}
textarea.blockclass{
  width: inherit;
  margin-top: 1%
}
button.blockclass{
  margin-top: 1%
}



.App-header {
  background-color: transparent;
  min-height: 5vh;
  display: flex;
  flex-direction: center;
  align-items: top;
  justify-content: tops;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}
.App-footer{
  background-color: transparent;
  border: none;
  min-height: 5vh;
  display: flex;
  flex-direction: left;
  align-items: bottom;
  justify-content: left;
  font-size: calc(5px + 1vmin);
}
.App-body{
  background-color: transparent;  
  border: none;
  min-height:75vh;
  display: flex;

  font-size: calc(10px + 2vmin);
}.support{
  background-color: transparent;
  border-color: transparent;
  width: 30px;
  height: 30px;
}
.Menubar{
  flex-direction: right;
  border: none;
  background-color: transparent;
  position:relative;
  align-items: bottom;
  font-size: calc(10px + 2vmin);
  left:45%;
}


.Menubar .about{
  border: none;
  background-color: transparent;
}

.Menubar .support{
  border: none;
  background-color: transparent;
}

.Menubar .contact{
  border: none;
  background-color: transparent;
}

.murmur{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .App {
    width: 100%;
  }
  .App-body{
    width: 100%;

  }
  .Menubar{
    flex-direction: left;
    border: none;
    background-color: transparent;
    position:relative;
    align-items: bottom;
    font-size: calc(10px + 2vmin);
    right:45%;
}
}