@font-face {
    font-family: 'Trim';
    src: local('Trim'), url(./Trim.otf) format('otf');
  }

.playercontainer-1{
    color: #0e2539;
    font-family: 'Trim';
    font-size: 3px;
    background-color: transparent;
    padding: 10px;
    width:400px;
    height: 300px;
    align-items: left;
    }
.playercontainer-2{
    color: #5eb546;
    font-family: 'Trim';
    font-size: 3px;
    background-color: transparent;
    padding: 10px;
    width:400px;
    height: 300px;
    align-items: left;
    }
.playercontainer-3{
    color: #d47097;
    font-family: 'Trim';
    font-size: 3px;
    background-color: transparent;
    padding: 10px;
    width:400px;
    height: 300px;
    align-items: left;
    }
.playercontainer-4{
    color: #ec7323;
    font-family: 'Trim';
    font-size: 3px;
    background-color: transparent;
    padding: 10px;
    width:400px;
    height: 300px;
    align-items: left;
    }
.adjustdis{
    margin-left: -6%;
    margin-top: 6%;
    font-family: 'Trim';
    font-size: 15px;
}
.adjustcont{
    align-items: left;
    align-self: left;
    text-align: left;
   
}
.playbutt{
    background: transparent;
    border-color: transparent;
    align-self: start;
    margin-left: 0%;
    width: 30px;
    height: 30px;
    

}
.vol{
    background: transparent;
    border-color: transparent;
    margin-left: 10%;
    width: 30px;
    height: 30px;
}
.twitch{
    background-color: transparent;
    border-color: transparent;
    width: 30px;
    height: 30px;
    
    margin-left: 10%;

  }
