.playercontainer{
    color: "white";
    background-color: transparent;
    padding: "10px";
    font-family: "Arial";
    width:"500px";
    height: "300px";
}
.playbutt{
    background: transparent;
    border-color: transparent;
    align-self: start;
    width: 30px;
    height: 30px;

}
.vol{
    background: transparent;
    border-color: transparent;
}
.support{
    background-color: transparent;
    border-color: transparent;
    width: 30px;
    height: 30px;
  }